.canvas-cont{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}
#canvas1{
    width: 100%;
    height: 100%;
}

.hefty-title-canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 5px;
    color: white;
    pointer-events: none;

}