.shit-outer {
    height: 180vh;
    position: relative;
}

.sticky-shit {
    position: sticky;
    top: 0;
    height: 100vh;
}

.shit-cont {
    min-height: 100vh;
    /* position: sticky; */
    pointer-events: none;
    /* background-color: #f2f2f2; */
    width: 60vw;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}
.shit-overflow{
    height: 100px;
    overflow: hidden;
    margin-left: 3vw;
}
.shitout-cont{
    height: 100%;
}
.shit-first{
    display: flex;
    font-size: 70px;
    height: 100px;
    overflow: hidden;
    align-items: center;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.shit-arrow{
    position: absolute;
    top: 10vh;
    left: 5vw;
    z-index: 1;
}
.shit-arrow svg{
    color: rgba(49,49,49, .07);
    font-size: 100px;
}
.shit-second{
    font-size: 70px;
    font-weight: 600;
    /* height: 100px; */
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.mazspan{
    font-family: mazius;
    margin:0px 10px;
    font-weight: 100;
    /* display: flex; */
    /* transform: translateY(-90px); */
    color: var(--brand-color-dark-green);
}
.swap-cont{
    font-family: mazius;
    margin-left: 10px;
    font-weight: 100;
    display: flex;
    align-items: center;
    /* transform: translateY(-90px); */
    height: 100px;
    color: var(--brand-color-dark-green);
}
.swap-one{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100px;
}
.swap-two{
    height: 100px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.shit-p {
    color: var(--brand-color-dark-green);
    font-size: 50px;
    /* width: 100%; */
    margin-left: 3vw;
    font-family: mazius;
    text-align: center;
    line-height: 180px;
}

.simg-cont {
    height: 100vh;
    position: relative;
    background-color: #f2f2f2;
}

.simg-inner {
    height: 100vh;
    position: sticky;
}

.simg-rel {
    position: relative;
}

.simg-inner {
    position: absolute;
    right: 20%;
    top: 4%;
    /* opacity: 0; */
}

.simg {

    border-radius: 35px;
    height: 38vw;
    /* background-color: rebeccapurple; */
    width: 26vw;
    /* overflow: hidden; */
    /* overflow: hidden; */
 
}

.simg:nth-child(1) {
    top: -13%;
    right: 33%;
    position: absolute;
    transform: rotate(-25deg);
}

.simg:nth-child(2) {
    transform: rotate(-17deg);
    /* background-color: red; */
}

.simg:nth-child(3) {
    top: 15%;
    right: -39%;
    transform: rotate(-10deg);
    /* background-color: green; */
    position: absolute;

}
.ig-cont{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
}

.simg img {
    width: 100%;
    height: 100%;
    border-radius: 35px;
    filter: grayscale(0);
    transition: filter .3s ease;
}
.simg img:hover{
    filter: grayscale(1);
}
.cls-1{fill:'#fff';stroke:'#000';strokeMiterlimit:10}
@media (min-width:901px) and (max-width:1100px) {
    .shit-cont{
        display: none;
    }
    .simg-inner{
        right: 50%;
        transform: translateX(50%);
        top: 10%;
    }
}
@media (min-width:900px){
    .shit-outer{
        height: 200vh;
    }
}
@media (max-width:900px){
    .shit-cont{
        display: none;
    }
    .simg-cont{
        background-color: #111517;
    }
    .shit-outer{
        /* top:  */
        height: 560px;
        overflow: hidden;
        background-color: #111517;
    }
    .simg-inner{
        right: 50%;
        transform: translateX(50%);
        top: 10%;
    }
    .simg{
        width: 240px;
        height: 350px;
    }
    .simg:nth-child(1){
        top: -10%;
        right: 20%;
    }
    .simg:nth-child(3){
        top: 15%;
        right: -20%;
    }
}